.metadata/*
.recommenders/*
/.metadata/
/.recommenders/
/**/target/*
.settings/
.externalToolBuilders/
*.MF
*.class
*.log
*.project
*.bak
*.classpath
# Package Files #
*.jar
*.war
*.ear
*/*.iml
.idea/*
*/mvnw
*/mvnw.cmd
*/HELP.md
*/.factorypath
*/.springBeans
*/.apt_generated/ 
*/.apt_generated_tests/
*/.mvn/
/*.idea
*.idea
*/target/

